{% extends "studentsAPI/base.html"%}
{% load static %}
{% block content %}
<body>
<h2>Statistics</h2>
    <p>Average age of students: {{ avg_age }}</p>
    <p>Students count by class:</p>
    <ul>
        {% for item in students_count_by_class %}
            <li>{{ item.class }}: {{ item.count }}</li>
        {% endfor %}
    </ul>
    <p>Student count by country:</p>
    <ul>
        {% for item in students_count_by_country %}
            <li>{{ item.country }}: {{ item.count }}</li>
        {% endfor %}
    </ul>

    <div class="col-md-4">
      <a href="{% url 'students_list' %}" class="btn btn-secondary btn-block btn">
          <i class="fas fa-stream"></i>   List
      </a>
      
  </div>
</body>
   
{% endblock content %}
          

